.menu-white {
  max-width: 1440px;
  height: 80px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 0 104px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  background-color: #fff;
  color: #1a1b22;
}

.menu-white__bg {
  display: flex;
  flex-direction: row;
  width: 1232px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.menu-white__burger-button {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.menu__exit-button {
  padding-left: 17px;
}

.menu_dark {
  box-shadow: inset 0px -1px 0px #d1d2d6;
  background-color: #fff;
  color: #1a1b22;
}

.menu-white__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  min-height: 48px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.menu__logo {
  padding: 0;
  margin: 0 auto 0 0;
  font-family: "Roboto Slab";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.menu__active-button {
  text-decoration: none;
  height: 24px;
  color: #fff;
  text-decoration: underline solid 3px;
  text-underline-offset: 29px;
}
.menu__active-button_dark {
  color: #1a1b22;
  text-decoration: none;
  height: 24px;
  margin: 0 0 0 16px;
  text-decoration: underline solid 3px;
  text-underline-offset: 29px;
}

.menu__non-active {
  height: 24px;
  text-decoration: none;
  color: #1a1b22;
}

.menu-white__main-button {
  box-sizing: border-box;
  min-width: 176px;
  height: 48px;
  margin-left: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.menu__main-button_dark {
  border: 1px solid #1a1b22;
  color: #1a1b22;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu {
    padding: 0 auto 0 40px;
  }
}

@media (max-width: 768px) {
  .menu {
    justify-content: space-between;
    max-width: 100vw;
    height: 56px;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .menu__is-opened {
    height: 100vh;
    width: 100vw;
    margin: 0 auto 0 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: visibility 0ms 400ms, opacity 400ms;
  }
  .menu__bg_is-opened {
    width: 100vw;
    height: 230px;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
  }
  .menu__burger-button {
    width: 24px;
    height: 8px;
    position: absolute;
    margin-right: 24px;
    margin-top: 24px;
    top: 0;
    right: 0;
    color: #fff;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    border: none;
    border-top: #fff solid 2px;
    border-bottom: #fff solid 2px;
    background: transparent;
    transition: all 0.5s ease-in-out;
  }
  .menu__logo {
    color: #fff;
    margin: 16px 0 16px 16px;
    max-width: 117px;
  }
  .menu__main-button {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    height: 56px;
    width: 288px;
    margin: 16px;
    color: #fff;
  }
  .menu__active-button {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    margin: 16px auto 6px 16px;
  }
}
