.popup__input {
  padding: 9px 0 9px 0;
  color: #000000;
  border: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 0 auto 31px auto;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__input-title {
  padding: 0;
  margin: 0;
  color: #2f71e5;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.popup__input-error-main {
  align-self: center;
  margin-top: 17px;
}

.popup__input-error {
  visibility: hidden;
  display: none;
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.popup__input-error_visible {
  visibility: visible;
  display: block;
}

@media (max-width: 768px) {
  .popup__input {
    max-width: 288px;
    margin: 0 16px 30px 16px;
  }

  .popup__input:last-of-type {
    margin: 0 16px 23px 16px;
  }

  .popup__input-title {
    margin-left: 16px;
  }
}
